<!DOCTYPE html>
<html>
<head>
    <title>custom</title>
	<meta charset="utf-8" />
</head>
<body>
    <form action="/custom" method="post">
        <label>员工编号</label>
        <input type="text" name="EmployeeNumber" /> <br />
        <label>员工姓名</label>
        <input type="text" name="EmployeeName" /> <br />
        <label>员工年龄</label>
        <input type="text" name="EmployeeAge" /> <br />


        <input type="checkbox" name="EmployeeHobby" value="篮球" />篮球
        <input type="checkbox" name="EmployeeHobby" value="足球" />足球
        <input type="checkbox" name="EmployeeHobby" value="排球" />排球
        <input type="checkbox" name="EmployeeHobby" value="网球" />网球
        <br />
        <input type="submit" value="提交" />
    </form>
</body>
</html>
