<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <!-- the targets to write to -->
  <targets>
    	<!-- based log config  -->
	<target xsi:type="File" 
	    name="allfile" 
	    fileName="${shortdate}.log"
	    layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

	<!-- based archive config  -->
	<target xsi:type="File" 
	    name="archive" 
	    archiveEvery="Day"
	    archiveFileName = "nlogdemo-{########}.log"
	    archiveNumbering = "Date"
	    archiveDateFormat = "yyyyMMdd"
	    maxArchiveFiles = "4"	
	    fileName="nlogdemo.log"
	    layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />	
	    	    	
    </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Warn" writeTo="archive" />
  </rules>
</nlog>