<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="File"
        name="archive"
        archiveEvery="Day"
        archiveFileName = "test-{########}.log"
        archiveNumbering = "Date"
        archiveDateFormat = "yyyyMMdd"
        maxArchiveFiles = "4"
        fileName="logs/test.log"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="archive" />
    <logger name="Microsoft.*" minlevel="Error" writeTo="archive" final="true" />
  </rules>
</nlog>
